* {
    margin: 0 auto;
    padding: 0 auto;
}
body {
    font-family: sans-serif;
    background-color: #e3e3e3;
    color: white;
    margin: 0;
    padding: 0;
}

#navbar-container {
    margin: 0;
    background-color: #003557;
}

nav.main-navbar {
    background-color: #003557;
    height: 5rem;
}

#menubar {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #003557;
    height: 5rem;
    float: left;
}

ul {
    margin: 0;
}

#menubar li {
    display: inline;
    float: left;
    color: white;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.navbar-logo {
    text-align: center;
    line-height: 5rem;
    padding-left: 0;
}

.navbar-logo img {
    max-height: 5rem;
}

li a {
    text-decoration: none;
    color: white;
    line-height: 5rem;
    width: 5rem;
}

.active a {
    color: pink;
}

h2 {
    text-align: center;
}

#menubar-right {
    float: right;
    margin: 0;
}

#menubar-right li {
    display: inline;
    float: left;
    color: white;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

a:hover {
    color: #e3e3e3;
}

.subtitle {
    padding-top: .4rem;
    padding-bottom: .4rem;
    width: 100%;
    height: 1rem;
    background-color: #454545;
    text-align: center;
}

#slider {
    margin: 0 auto;
    padding: 0 auto; 
}

#slider a img {
    max-height: 40rem;
    width: 100%;
}

#form-container {
    margin-top: 3rem;
    position: relative; 
    float: left;
    width: 40%;
    text-align: center;
    margin-left: 30%;
}

#billing-form {
    margin: auto 1.5rem;
    display: inline-block;
}

#submit-button {
    margin-top: 1.5rem;
    background-color: #003557;
    width: 10rem;
    color: white; 
    border: 0; 
}

#submit-button:hover {
    color: #e3e3e3;
}

#billing-form input[type="text"] {
    height: 1.3rem;
    margin-top: .3rem;
}


/*
#menubar {
    list-style-type: none;
    margin: auto;
    padding: .3rem;
    overflow: hidden;
    background-color: #003557;
}

#menubar li {
    float: left;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #003557;
    color: white;
    text-align: center;
}

ul#menubar li:hover:not(.active) {
    background-color: #134769;
    color: white;
}

ul#menubar li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul#menubar li.active {
    background-color: #810e37;
}

ul#menubar .active:hover {
    background-color: #b71b53;
}

.subtitle {
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #454545;
}

.subtitle td {
    font-size: 50%;
    padding-left: 10px;
    font-family: sans-serif; 
}


h1.title {
    background-color: #003557;
    color: #dedfd9;
}


table {
    border: 3px solid blue;
}

td {
    border: 3px solid green;
    text-align: center;
    width: 500px;
}

p {
    margin: 0;
}

.productimage {
    border: 5px solid black;
    width: 200px;
    height: 200px;
}

img:hover {
    width: 1000px;
    height: 1000px;
}


ul#menubar {
    display: inline;
}

ul#menubar li a {
    display: block;
    float: left;
    display: inline;
    background-color: #003557;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menubar li a:hover {
    background-color: #134769;
}
*/

